body {
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 150%;
}

header {
  background-color: #333333;
}

h1 {
  color: #eee;
  text-align: center;
  font-size: 28px;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-left: 1rem;
}

.container {
  width: 1024;
  margin: auto;
}

#main-bio {
  float: left;
  width: 70%;
}

#contact-info {
  float: left;
  width: 30%;
}

#bio-image {
  float: left;
  margin-left: 1rem;
  margin-right: 2rem;
}
a {
  color: #d21034;
}
